.coffeeItemBest {
  width: 220px;
  height: 240px;
  background: rgba(255, 255, 255, 0.65);
  margin: 0 auto;
  &__logo {
    margin-top: 20px;
    text-align: center;
  }
  &__title {
    margin: 10px 0;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #000000;
  }
  &__price {
    margin-right: 20px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
    text-align: right;
  }
}
